<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'pageApp/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'pageApp/css/page1.css' %}">
    <link rel="stylesheet" href="{% static 'pageApp/css/page2.css' %}">
    <link rel="stylesheet" href="{% static 'pageApp/css/page3.css' %}">

</head>
<body>

<div>

</div>


<section>
    {% block section %}
    nothing here yet
    {% end block %}
</section>


</body>
</html>